aws{ 
    endpoint = "https://s3.nautilus.optiputer.net"
    region = "us-west-2"
  }
profiles {
  k8s {
    process {
      executor = "k8s"
      cpus = 1
      memory = 1.GB
      pod = []
      launchDir vikas-pod-test1:/tmp/vpeddu
      withLabel:multithreaded {
        cpus = 2
        memory = 4.GB
      }
    }
  }
}
