profiles {
  docker {
    docker {
      enabled = true
    }
  }
  kubernetes {
    process.executor = 'k8s'
    process.scratch = true
    k8s {
      debug.yaml = true      
      pod = [[runAsUser: 2801], [env: 'AWS_ACCESS_KEY', secret: 'AWS_ACCESS_KEY'], [env: 'AWS_SECRET_KEY', secret: 'AWS_SECRET_KEY'], [env: 's3fs_path_style_access', value: 'true']]
    }
    aws {
      region = 'us-west-2'
      client {
        endpoint = ' https://s3.nautilus.optiputer.net'
        protocol = 'HTTPS'
        path_style_access = 'true'
      }
    }
  }
}

