k8s {
        profiles.k8s.serviceAccount = "system:serviceaccount:nextflowucsc:default"
          executor = "k8s"
          namespace = "nextflowucsc"
          cpus = 1
          memory = 1.GB
          debug.yaml = true

        }
profiles {
  //standard { 
    
          aws{ 
          endpoint = "https://s3.nautilus.optiputer.net"
          region = "us-west-2"
          pod = [secret: "prp-s3-credentials", mountPath: "/root/.aws"]

       }
  //}
}